.experiences {

  .gallery {

    .olimpo__subtitle {
      margin-top: 0;
    }

    .olimpo__flex {
      justify-content: space-between;
    }
    
    &--second {
      background-color: white;
    }

    @media screen and (max-width: 850px) {
      .gallery__config {
        width: 100%;
      }
      .olimpo__flex {
        flex-direction: column;
        align-items: start;
      }
    }
    
  }

  .paginator {
    padding-bottom: 60px;

    &--second {
      background-color: white;
      padding-bottom: 100px;
    }
    
  }
  
}