:root {
  --font: "GT Walsheim Pro";
  --green-1: #096045;
  --green-2: #004422;
  --green-3: #00D645;
  --gray-1: #B8BABF;
  --gray-2: #818181;
  --yellow: #f8f538;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.container-layout {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0 100px;

  @media screen and (max-width: 1350px) {
    padding: 0 20px;
  }
  
}

.container {
  display: block;
  // padding: 60px 20px 100px 20px;
  max-width: 85% !important; // temp
  width: 85% !important; // temp
  margin: auto;
}

.button {
  display: inline-block;
  padding: 11px;
  border-radius: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;

  @media screen and (max-width: 450px) {
    padding: 8px;
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  appearance: none;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button:active, button:active, a:active {
  transform: translateY(1px);
}

.olimpo {

  &__flex {
    display: flex;
    align-items: center;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__head &__flex { gap: 15px; }

  &__back {
    font-size: 20px;
    color: var(--green-1);
  }
  
  &__title {
    font-size: 30px;
    color: var(--green-1);
  }

  &__filter {
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 1px solid var(--gray-1);
    border-radius: 16px;
    
    i {
      font-size: 22px;
      color: var(--green-1);
    }
    
  }
  
}