.home {

  .banner__carousel {
    background-color: var(--gray-1);
  }
  .glide {
    
    &__slide img { width: 100%; }

    &__bullets {
      position: absolute;
      bottom: 15px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
      
    &__bullet {
      display: block;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: rgba($color: #fff, $alpha: 0.35);
      transition: 0.25s;
  
      &--active {
        background-color: var(--yellow);
      }
    }
    
  }

  .promotions {
    padding: 40px 0 60px 0;
    background-color: var(--gray-1);

    .glide__slides { padding: 5px 0; }
    
    &__carousel {
      margin-top: 40px;
    }

    &__more {
      border: 1px solid var(--green-1);
      margin: auto;
      display: inline-block;
      padding: 15px 40px;
      margin-top: 40px;
      color: var(--green-1);
      background-color: white;
    }
  }

  .tutorial {
    padding-top: 60px;

    &__video {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      iframe {
        width: 850px;
        height: 480px;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 60px auto 100px auto;

    &__item {
      width: 100%;

      img {
        width: 100%;
        margin-bottom: 20px;
      }

      .button {
        padding: 15px 20px;
      }
    }

    @media screen and (max-width: 630px) {
      flex-direction: column;
    }
    
  }
  
}