.home {
  background-color: white;
  
  .head {
    background-color: var(--gray-2);
    
    img {
      display: block;
      width: 100%;
    }

  }

  .promotions {
    padding: 40px 0 60px 0;
    background-color: var(--gray-1);

    .glide__slides { padding: 5px 0; }
    
    &__carousel {
      margin-top: 40px;
    }

    &__more {
      border: 1px solid var(--green-1);
      margin: auto;
      display: inline-block;
      padding: 15px 40px;
      margin-top: 40px;
      color: var(--green-1);
      background-color: white;
    }
  }

  .viewed {
    margin-top: 60px;

    &__list {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 40px;
    }

    .glide__slide {
      width: calc(100% / 4 - 90px / 4);
    }

    @media screen and (max-width: 840px) {
      .glide__slide { width: calc(50% - 15px); }
    }

    @media screen and (max-width: 500px) {
      &__list { gap: 15px; }
      .glide__slide { width: calc(50% - 15px / 2); }
    }
    
  }

  .tutorial {
    padding: 60px 0;
    background-color: var(--gray-1);
    margin-top: 60px;

    .olimpo__subtitle {
      margin-bottom: 40px;
    }

    .go-ask {
      margin: auto;
      max-width: 400px;
      width: 100%;
      border-radius: 40px;
      border: 1px solid var(--green-1);
      color: var(--green-1);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 15px;
      margin-top: 30px;
    }

  }

  .categories {
    padding: 60px 0;

    &__list {
      display: flex;
      align-items: center;
      margin-top: 40px;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;
    }

    .category {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: var(--gray-1);

      i {
        font-size: 26px;
        color: var(--gray-2);
      }

      span {
        color: var(--gray-3);
        font-size: 12px;
      }
      
    }
    
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 60px auto 100px auto;

    &__item {
      width: 100%;

      img {
        width: 100%;
        margin-bottom: 20px;
      }

      .button {
        padding: 15px 20px;
      }
    }

    @media screen and (max-width: 630px) {
      flex-direction: column;
    }
    
  }
  
}