.product-detail {
  padding: 60px 0;
  background-color: var(--gray-1);

  @media screen and (max-width: 740px) {
    padding: 20px 0 60px 0;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    a {
      color: var(--green-1);
      font-size: 20px;
    }
  }

  .row {
    display: flex;
    align-items: start;
    gap: 60px;
    padding-top: 30px;

    @media screen and (max-width: 740px) {
      flex-direction: column;
    }
    
  }

  .preview {
    display: flex;
    align-items: center;
    width: 370px;
    
    & > img {
      width: 300px;
      padding: 20px;
      
      @media screen and (max-width: 880px) {
        width: 200px;
      }
      
    }
    
    @media screen and (max-width: 740px) {
      width: 100%;
      justify-content: center;
      & > img {
        width: 300px;
      }
    }
    
  }

  .thumbnail {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      display: block;
      height: 70px;
      width: 70px;
      border: 1px solid var(--gray-2);
      border-radius: 15px;
      padding: 5px;
      cursor: pointer;
      background-color: white;

      &:active { transform: translateY(1px); }

      @media screen and (max-width: 880px) {
        width: 46px;
        height: 46px;
        border-radius: 10px;
      }

      @media screen and (max-width: 740px) {
        width: 70px;
        height: 70px;
        border-radius: 10px;
      }

    }
    
  }

  .content {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.05);

    &__flag {
      display: inline-flex;
      gap: 5px;
      align-items: baseline;
      padding: 5px 10px;
      background-color: var(--green-3);
      color: white;
      font-size: 14px;
      border-radius: 7px;
      margin-bottom: 10px;
    }

    &__brand {
      font-size: 18px;
      color: var(--green-1);
      font-weight: 500;
    }

    &__name {
      font-size: 22px;
      font-weight: 500;
      padding: 5px 0;
    }

    &__desc {
      color: var(--gray-3);
      padding: 5px 0;
    }

    &__row {
      display: flex;
      align-items: center;
      gap: 50px;
      margin-top: 15px;

      @media screen and (max-width: 410px) {
        flex-direction: column;
        gap: 15px;
        align-items: start;
      }
      
    }
    
    &__price {
      display: flex;
      align-items: center;
      gap: 5px;

      img { width: 40px; }
      span {
        font-size: 28px;
        color: var(--green-1);
        font-weight: bold;
      }
      
    }

    &__customize {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    
    &__color {
      p { color: var(--gray-3); }
      div {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
      }

      span {
        display: block;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        cursor: pointer;

        &:active { transform: translateY(1px); }

        &:nth-child(1) { background-color: #3F4343; }
        &:nth-child(2) { background-color: #CCC6BA; }
        &:nth-child(3) { background-color: #CFCFCF; }
      }
    }

    & > small {
      color: var(--gray-2);
      margin-top: 20px;
      display: inline-block;
    }
    
    &__file {
      overflow: auto;
      max-width: 100%;
      
      table {
        border-collapse: collapse;
        margin-top: 10px;
        max-width: 100%;
        
        td {
          border: 2px solid var(--gray-1);
          font-size: 16px;
          padding: 10px;
          
          &:first-child {
            color: var(--green-1);
            font-weight: 500;
          }
        }

        tr:nth-child(odd) {
          background-color: var(--gray-1);
        }
      }
      
    }

    &__cart {
      margin-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
    
  }

  .review-row {

    @media screen and (max-width: 850px) {
      flex-direction: column;
      gap: 30px;

      .review {
        min-width: unset;
        width: 100%;
      }
      
    }
    
  }

  .review {
    margin-top: 30px;
    min-width: 370px;
    text-align: center;

    &__title {
      font-weight: 500;
      font-size: 18px;
    }

    &__points {
      font-weight: 800;
      font-size: 50px;
      margin: 10px 0 0 0;
      color: var(--green-1);
    }

    &__stars {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      gap: 10px;
      margin-bottom: 7px;
    }

    &__star {
      color: var(--green-3);
    }

    &__based {
      font-size: 14px;
      color: var(--gray-3);
      margin-bottom: 20px;
    }

    .review__counter {
      display: flex;
      align-items: center;
      gap: 10px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &-num {
        font-size: 14px;
        color: var(--gray-3);
        width: 100px;
        text-align: right;
      }

      &-bar {
        display: block;
        border: 1px solid var(--gray-2);
        border-radius: 5px;
        width: 100%;
        height: 24px;
        position: relative;
        overflow: hidden;
        background-color: white;
      }

      &-progress {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--gray-2);
      }
      
    }

    &__subtitle {
      font-weight: 500;
    }

    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__own {
      text-align: left;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid var(--gray-2);

      &-star {
        font-size: 18px;

        &[selected] {
          color: var(--green-3) !important;
        }
        
      }

      .fa-regular.fa-star {
        color: var(--gray-2);
      }

      .fa.fa-star {
        color: var(--green-3);
      }

      .button {
        padding: 11px 20px;
      }
      
    }

    &__comment {
      display: block;
      width: 100%;
      appearance: none;
      height: 140px;
      resize: none;
      border: 1px solid var(--gray-2);
      border-radius: 10px;
      outline: none;
      font-size: 16px;
      padding: 10px;
      margin: 10px 0 12px 0;
    }

  }

  .comments {
    margin-top: 30px;

    &__title {
      font-size: 18px;
      font-weight: 500;
      color: var(--gray-3);
      margin-bottom: 30px;
    }

  }

  .comment {
    display: flex;
    align-items: start;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:nth-child(odd) {

      .comment {

        &__img { order: 2; }

        &__content::before {
          left: unset;
          right: -11px;
          border-bottom-width: 0;
          border-left-width: 0;
          border-top-width: 1px;
          border-right-width: 1px;
        }

      }

    }

    &__img {
      min-width: 70px;
      max-width: 70px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        display: block;
      }
    }

    &__content {
      display: block;
      background-color: white;
      border: 1px solid var(--gray-1);
      box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.05);
      border-radius: 20px;
      padding: 20px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        display: block;
        height: 20px;
        width: 20px;
        border: 1px solid var(--gray-1);
        border-top-width: 0;
        border-right-width: 0;
        background-color: white;
        top: 26px;
        left: -11px;
        transform: rotate(45deg);
      }

    }

    &__name {
      color: var(--green-1);
      font-weight: 500;
      font-size: 18px;
    }

    &__stars {
      margin: 5px 0 10px 0;
    }
    
    &__star {
      color: var(--green-3);

      &-text {
        font-weight: 500;
        color: var(--gray-2);
      }
      
    }
    
  }
  
}