.bonus {
  padding-top: 60px;
}
@media screen and (max-width: 620px) {
  .bonus {
    padding-top: 10px;
  }
}
.bonus .head .olimpo__back {
  display: inline-block;
  margin-bottom: 30px;
}
.bonus .head__mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--green-1);
}
.bonus .head__mobile .icon-filter {
  font-size: 20px;
  color: var(--green-1);
  border: 1px solid var(--gray-2);
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
@media screen and (max-width: 620px) {
  .bonus .head {
    display: none;
  }
  .bonus .head__mobile {
    display: flex;
  }
}
.bonus__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 50px;
}
@media screen and (max-width: 800px) {
  .bonus__options {
    gap: 30px;
  }
}
@media screen and (max-width: 620px) {
  .bonus__options {
    margin-top: 10px;
  }
}
@media screen and (max-width: 450px) {
  .bonus__options {
    gap: 10px;
  }
}
.bonus__option {
  color: var(--gray-2);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 5px 10px 5px;
  transition: 0.25s;
}
.bonus__option::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -1px;
  height: 3px;
  border-radius: 2px;
  background-color: transparent;
  transition: 0.25s;
}
.bonus__option > * {
  pointer-events: none;
}
.bonus__option i {
  font-size: 22px;
}
.bonus__option--active {
  color: var(--green-1);
  position: relative;
  font-weight: 500;
}
.bonus__option--active::after {
  background-color: var(--green-1);
}
@media screen and (max-width: 680px) {
  .bonus__option {
    font-size: 16px;
  }
  .bonus__option i {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .bonus__option {
    font-size: 14px;
  }
  .bonus__option i {
    font-size: 16px;
  }
}
.bonus__content {
  background-color: var(--gray-1);
  padding: 40px 0;
  border-top: 1px solid var(--gray-2);
}

.bonus__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .bonus__cards {
    gap: 15px;
  }
}

.bonus-card {
  background-color: white;
  width: calc(25% - 22.5px);
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 12px;
  cursor: pointer;
}
.bonus-card__image {
  width: 100%;
  margin-bottom: 10px;
}
.bonus-card__title {
  color: var(--green-1);
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}
.bonus-card__description {
  color: var(--gray-3);
}
.bonus-card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-3);
  margin-top: 15px;
}
.bonus-card__price img {
  width: 30px;
  margin-right: 4px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}
.bonus-card__cart {
  color: var(--green-1);
  font-size: 20px;
  margin-right: 4px;
}
@media screen and (max-width: 900px) {
  .bonus-card {
    width: calc(33.3333333333% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .bonus-card {
    width: calc(50% - 7.5px);
  }
}

.bonus-detail {
  padding-top: 60px;
  background-color: var(--gray-1);
}
.bonus-detail__preview {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-top: 50px;
  padding-bottom: 100px;
}
@media screen and (max-width: 650px) {
  .bonus-detail__preview {
    flex-direction: column;
    gap: 20px;
  }
}
.bonus-detail__image {
  width: 35%;
  background-color: white;
  border: 1px solid var(--gray-2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.bonus-detail__image img {
  width: 100%;
}
@media screen and (max-width: 650px) {
  .bonus-detail__image {
    width: 100%;
  }
}
.bonus-detail__description {
  width: 65%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 30px;
}
@media screen and (max-width: 650px) {
  .bonus-detail__description {
    width: 100%;
  }
}
.bonus-detail__title {
  color: var(--green-1);
  font-weight: bold;
  font-size: 22px;
}
.bonus-detail__price {
  margin-top: 10px;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-2);
}
.bonus-detail__price img {
  width: 35px;
}
.bonus-detail__price span {
  font-size: 18px;
  color: var(--gray-3);
  font-weight: 500;
}
.bonus-detail__review {
  font-size: 16px;
}
.bonus-detail__exchange {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

/*# sourceMappingURL=bonus.css.map */
