:root {
  --font: "GT Walsheim Pro";
  --green-1: #096045;
  --green-2: #004422;
  --green-3: #3CC666;
  --gray-1: #F2F2F2;
  --gray-2: #B8BABF;
  --gray-3: #818181;
  --yellow: #f8f538;
  --red: #FF3747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

.container-layout {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0 100px;
}
@media screen and (max-width: 1350px) {
  .container-layout {
    padding: 0 20px;
  }
}
@media screen and (max-width: 450px) {
  .container-layout {
    padding: 0 15px;
  }
}

.container {
  display: block;
  max-width: 1360px;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 1420px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 450px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.button {
  display: inline-block;
  padding: 11px;
  border-radius: 30px;
  font-size: 16px;
}
.button--primary {
  background-color: var(--green-3);
  color: white;
}
.button--secondary {
  border: 1px solid var(--yellow);
  color: var(--yellow);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  appearance: none;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button:active, button:active, a:active {
  transform: translateY(1px);
}

.olimpo__flex {
  display: flex;
  align-items: center;
}
.olimpo__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.olimpo__head .olimpo__flex {
  gap: 15px;
}
.olimpo__back {
  font-size: 20px;
  color: var(--green-1);
}
.olimpo__title {
  font-size: 30px;
  color: var(--green-1);
}
.olimpo__subtitle {
  font-size: 24px;
  color: var(--green-1);
  position: relative;
}
.olimpo__subtitle--center {
  text-align: center;
}
@media screen and (max-width: 720px) {
  .olimpo__subtitle {
    font-size: 20px;
  }
}
.olimpo__filter {
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 1px solid var(--gray-2);
  border-radius: 16px;
}
.olimpo__filter i {
  font-size: 22px;
  color: var(--green-1);
}
.olimpo__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
  z-index: 1;
}
.modal__content {
  background-color: var(--gray-1);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.95);
  width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateY(120vh);
  transition: 0.25s;
}
.modal__title {
  color: var(--green-1);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.modal__text {
  font-size: 14px;
  line-height: 20px;
}
.modal__timer {
  margin-top: 20px;
  margin-bottom: 5px;
}
.modal__timer-sub {
  color: var(--gray-3);
  margin-bottom: 12px;
}
.modal__time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.modal__time-box p {
  border: 1px solid var(--green-3);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 48px;
  font-weight: 500;
  color: var(--green-1);
}
.modal__time-box span {
  font-size: 14px;
  color: var(--gray-3);
  margin-top: 5px;
  display: block;
}
.modal__error-msg {
  color: var(--red);
  font-size: 18px;
  font-weight: 500;
}
.modal__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 1px solid var(--gray-2);
  padding-top: 20px;
}
.modal__action {
  width: 50%;
  border: 2px solid transparent;
  border-radius: 24px;
  line-height: 38px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal__action i {
  font-size: 18px;
  color: inherit;
}
.modal__action--secondary {
  border-color: var(--green-1);
  background-color: white;
  color: var(--green-1);
}
.modal__action--primary {
  border-color: var(--green-3);
  background-color: var(--green-3);
  color: white;
}

.accordion {
  max-width: 650px;
  width: 100%;
  margin: auto;
  border: 1px solid var(--gray-1);
  border-radius: 28px;
  overflow: hidden;
}
.accordion--active .accordion__handler {
  background-color: var(--green-1);
  color: var(--yellow);
  font-weight: 500;
}
.accordion--active .accordion__handler i {
  color: var(--yellow);
}
.accordion__handler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  transition: 0.25s;
  text-align: left;
  background-color: white;
}
.accordion__handler * {
  pointer-events: none;
}
.accordion__handler i {
  color: var(--green-1);
}
.accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 0.25s;
}
.accordion__content div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
}
.accordion__content ol {
  padding-left: 30px;
}
.accordion:not(:last-child) {
  margin-bottom: 10px;
}

.searcher {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--gray-2);
  border-radius: 12px;
  margin-top: 24px;
  padding: 0 15px;
}
.searcher__icon {
  font-size: 18px;
  color: var(--gray-2);
}
.searcher__input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 14px 0;
  width: 100%;
  outline: none;
}
.searcher__input::placeholder {
  color: var(--gray-2);
}

/*# sourceMappingURL=global.css.map */
