.header {
  background-color: var(--green-1);
  height: 70px;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header__logo {
  width: 135px;
}
.header__menu {
  display: flex;
  gap: 40px;
}
.header__menu-item {
  text-decoration: none;
  color: var(--yellow);
  line-height: 34px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.header__menu-item--active {
  font-weight: 500;
  border-bottom: 2px solid var(--yellow);
}
@media screen and (max-width: 1000px) {
  .header__menu {
    display: none;
  }
}
.header__search {
  position: relative;
}
.header__search i {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: var(--gray-2);
  top: calc(50% - 9px);
}
.header__search input {
  background-color: transparent;
  appearance: none;
  outline: none;
  border-radius: 20px;
  border: 1px solid var(--gray-2);
  line-height: 40px;
  padding-left: 40px;
  color: white;
}
.header__search input::placeholder {
  color: var(--gray-2);
}
@media screen and (max-width: 620px) {
  .header__search {
    display: none;
  }
}
.header__user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 420px) {
  .header__profile .header__user-data {
    display: none;
  }
}
.header__libs-cart {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--yellow);
  color: var(--green-1);
  padding: 10px;
  border-radius: 20px;
  font-weight: 500;
}
.header__libs-cart .header__libs {
  border-right: 2px solid var(--green-1);
  padding-right: 8px;
  margin-right: 3px;
}
.header__greeting {
  font-size: 12px;
  color: var(--gray-2);
  margin: 0;
}
.header__name {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--yellow);
  margin: 0;
  line-height: 14px;
}
.header__cart {
  position: relative;
}
.header__cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  font-weight: 500;
  display: block;
  line-height: 14px;
  width: 14px;
  background-color: var(--yellow);
  color: var(--green-1);
  text-align: center;
  border-radius: 20px;
  font-size: 12px;
}
.header__country {
  height: 32px;
  width: 32px;
}
.header__signin {
  background-color: var(--yellow);
  color: var(--green-2);
}
.header__login {
  background-color: var(--green-3);
  color: white;
}
.header__mobile {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: none;
  justify-content: space-around;
  background-color: var(--green-1);
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
  z-index: 1;
  padding: 0 20px;
  gap: 15px;
}
.header__mobile-item {
  color: white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  position: relative;
  width: calc(20% - 16px);
}
.header__mobile-item i {
  font-size: 18px;
}
.header__mobile-item--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px 2px 0 0;
  background-color: var(--yellow);
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  .header__mobile {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .header__mobile {
    padding: 0 10px;
  }
}

.footer {
  background-color: var(--green-1);
}
.footer__container {
  max-width: 90%;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  gap: 30px;
  align-items: start;
  justify-content: space-between;
}
.footer__contact {
  width: 30%;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.footer__social a {
  display: inline-block;
  color: var(--gray-1);
  font-size: 20px;
}
.footer__whatsapp {
  background-color: var(--green-3);
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  display: inline-block;
  margin: 10px 0 20px 0;
  font-size: 14px;
}
.footer__info {
  width: 40%;
}
.footer__info-row {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__brand {
  width: 30%;
}
.footer__brand img {
  width: 200px;
}
.footer__title {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}
.footer__title::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 35px;
  margin-top: 4px;
  background-color: var(--green-3);
}
.footer__action {
  color: var(--yellow);
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
}
.footer__powered {
  background-color: var(--green-2);
  width: 100%;
  text-align: center;
  padding: 20px 40px;
}
.footer__rights span {
  color: var(--yellow);
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.footer__rights span:last-child {
  color: var(--green-3);
}
.footer__tycs > div {
  border-top: 1px solid var(--gray-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
.footer__tycs > div .footer__tycs-row {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
}
.footer__tycs > div .footer__tycs-row:first-child {
  width: 40%;
}
.footer__tycs > div .footer__tycs-row:last-child {
  width: 60%;
}
.footer__tycs > div .footer__tycs-row a {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer__verified {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 860px) {
  .footer__tycs > div {
    flex-direction: column;
  }
  .footer__tycs-row {
    width: 100% !important;
  }
  .footer__tycs-row img {
    min-width: 50px;
  }
  .footer__tycs-row:first-child {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 850px) {
  .footer__container {
    flex-wrap: wrap;
    padding: 20px 0 40px 0;
  }
  .footer__brand {
    width: 100%;
    text-align: center;
  }
  .footer__contact {
    width: calc(40% - 15px);
  }
  .footer__info {
    width: calc(60% - 15px);
  }
}
@media screen and (max-width: 500px) {
  .footer__brand, .footer__contact, .footer__info {
    width: 100%;
  }
  .footer__whatsapp {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 7px;
  }
}

/*# sourceMappingURL=layout.css.map */
