.products .banner img, .experiences .banner img {
  width: 100%;
}
.products .olimpo__subtitle, .experiences .olimpo__subtitle {
  margin: 60px 0 40px 0;
}
.products .categories, .experiences .categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}
.products .categories__item, .experiences .categories__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}
.products .categories__item *, .experiences .categories__item * {
  pointer-events: none;
}
.products .categories__item > span, .experiences .categories__item > span {
  font-size: 14px;
  color: var(--gray-2);
}
.products .categories__item--active, .experiences .categories__item--active {
  color: var(--green-1);
  border-bottom-color: var(--green-1);
}
.products .categories__item--active span, .experiences .categories__item--active span {
  color: inherit;
}
.products .categories__item--active:first-child svg path, .experiences .categories__item--active:first-child svg path {
  stroke: var(--green-1);
}
.products .categories__item--active:not(:first-child) svg path, .experiences .categories__item--active:not(:first-child) svg path {
  fill: var(--green-1);
}
.products .categories__item--active.b svg path,
.products .categories__item--active.b svg circle, .experiences .categories__item--active.b svg path,
.experiences .categories__item--active.b svg circle {
  stroke: var(--green-1);
}
.products .categories__img, .experiences .categories__img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .categories__img svg, .experiences .categories__img svg {
  transform: scale(1.5);
}
.products .gallery, .experiences .gallery {
  padding: 60px 0 60px 0;
  background-color: var(--gray-1);
}
.products .gallery .gallery__config, .experiences .gallery .gallery__config {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
}
.products .gallery .gallery__config .gallery__points, .products .gallery .gallery__config .button, .experiences .gallery .gallery__config .gallery__points, .experiences .gallery .gallery__config .button {
  background-color: white;
  border: 1px solid var(--gray-2);
  color: var(--gray-3);
  outline: none;
}
.products .gallery .gallery__config .gallery__points--active, .products .gallery .gallery__config .button--active, .experiences .gallery .gallery__config .gallery__points--active, .experiences .gallery .gallery__config .button--active {
  background-color: var(--yellow);
  color: var(--green-1);
  border-color: transparent;
}
@media screen and (max-width: 535px) {
  .products .gallery .gallery__config, .experiences .gallery .gallery__config {
    flex-direction: column;
    gap: 10px;
  }
  .products .gallery .gallery__config .button, .experiences .gallery .gallery__config .button {
    text-align: center;
  }
}
.products .gallery .gallery__list, .experiences .gallery .gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.products .gallery .product-card, .experiences .gallery .product-card {
  width: calc(25% - 11.25px);
}
@media screen and (max-width: 1200px) {
  .products .gallery .product-card, .experiences .gallery .product-card {
    width: calc(33.3333333333% - 10px);
  }
}
@media screen and (max-width: 850px) {
  .products .gallery .product-card, .experiences .gallery .product-card {
    width: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 580px) {
  .products .gallery .product-card, .experiences .gallery .product-card {
    width: 100%;
  }
}
.products .paginator, .experiences .paginator {
  background-color: var(--gray-1);
  padding-bottom: 100px;
}
.products .paginator .container, .experiences .paginator .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.products .paginator__option, .experiences .paginator__option {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-2);
  color: var(--gray-3);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 16px;
}
.products .paginator__option--disabled, .experiences .paginator__option--disabled {
  pointer-events: none;
  opacity: 0.2;
}
.products .paginator__option--active, .experiences .paginator__option--active {
  background-color: var(--green-1);
  color: var(--yellow);
  font-weight: 500;
  border-color: transparent;
}

.product-card {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--gray-1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.product-card__image {
  position: relative;
}
.product-card__image img {
  width: 100%;
}
.product-card__image:hover .product-card__preview {
  opacity: 1;
}
.product-card__preview {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
}
.product-card__preview button {
  color: var(--green-1);
  background-color: var(--yellow);
  display: block;
  height: 70px;
  width: 70px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__detail {
  padding: 20px;
}
.product-card__brand {
  color: var(--gray-3);
  font-size: 16px;
  line-height: 24px;
}
.product-card__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.product-card__price {
  color: var(--green-1);
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.product-card__old-price {
  color: var(--gray-2);
  text-decoration: line-through;
  font-size: 16px;
  line-height: 24px;
}
.product-card__actions {
  display: flex;
  align-items: normal;
  gap: 10px;
  margin-top: 20px;
}
.product-card__cart {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
.product-card__favorite {
  display: inline-block;
  min-height: 45px;
  width: 45px;
  border: 1px solid var(--green-1);
  border-radius: 10px;
  color: var(--green-1);
  font-size: 16px;
}
@media screen and (max-width: 450px) {
  .product-card__brand, .product-card__price, .product-card__old-price {
    font-size: 14px;
  }
  .product-card__name {
    font-size: 16px;
    line-height: 18px;
  }
  .product-card__old-price {
    line-height: 18px;
  }
}

/*# sourceMappingURL=products.css.map */
