.travel {
  background-color: var(--gray-1);
}
.travel .banner {
  width: 100%;
}
.travel .seeker {
  display: block;
  width: 100%;
  background-color: var(--gray-1);
  background-image: url("../resources/images/banners/travel.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 60px;
}
.travel .seeker::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
}
.travel .seeker__container {
  display: block;
  margin: auto;
  max-width: 1100px;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 1;
  position: relative;
  padding: 30px;
  border-radius: 20px;
}
.travel .seeker__config {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 30px;
}
.travel .seeker__config .olimpo__subtitle {
  color: white;
  margin-right: 30px;
}
.travel .seeker__config .olimpo__flex {
  gap: 10px;
}
.travel .seeker__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 20px;
}
.travel .seeker__row > div {
  background-color: white;
  border: 1px solid var(--gray-2);
  border-radius: 10px;
}
.travel .seeker__locations {
  width: 45%;
  display: flex;
  align-items: center;
}
.travel .seeker__locations .seeker__field:first-child {
  border-right: 1px solid var(--gray-1);
  border-width: 2px;
}
.travel .seeker__field {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 100%;
  padding: 12px;
  color: var(--green-1);
}
.travel .seeker__placeholder {
  font-size: 12px;
  color: var(--gray-3);
}
.travel .seeker__value {
  border: none;
  appearance: none;
  width: 100%;
  line-height: 30px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}
.travel .seeker__value::placeholder {
  color: var(--gray-2);
  font-weight: normal;
}
.travel .seeker__value::-webkit-calendar-picker-indicator {
  display: none;
}
.travel .seeker__dates {
  width: 35%;
  display: flex;
  align-items: center;
}
.travel .seeker__dates .seeker__field:first-child {
  border-right: 1px solid var(--gray-1);
  border-width: 2px;
}
.travel .seeker__passengers {
  width: 20%;
}
.travel .seeker__go {
  display: flex;
  gap: 5px;
  padding: 20px 24px;
  font-size: 14px;
  font-weight: bold;
}
.travel .seeker__go i {
  font-size: 16px;
}
@media screen and (max-width: 1100px) {
  .travel .seeker .seeker__row {
    flex-wrap: wrap;
  }
  .travel .seeker .seeker__locations {
    width: 100%;
  }
  .travel .seeker .seeker__dates, .travel .seeker .seeker__passengers {
    width: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 850px) {
  .travel .seeker {
    padding: 30px;
  }
}
@media screen and (max-width: 750px) {
  .travel .seeker .seeker__dates {
    width: calc(65% - 7.5px);
  }
  .travel .seeker .seeker__passengers {
    width: calc(35% - 7.5px);
  }
}
@media screen and (max-width: 630px) {
  .travel .seeker .seeker__locations, .travel .seeker .seeker__dates, .travel .seeker .seeker__passengers {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .travel .seeker .seeker__config {
    flex-direction: column;
  }
  .travel .seeker .seeker__config .olimpo__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 450px) {
  .travel .seeker {
    padding-left: 15px;
    padding-right: 15px;
  }
  .travel .seeker .seeker__container {
    padding: 30px 15px;
  }
}
.travel .popular {
  padding-top: 60px;
  padding-bottom: 100px;
}
.travel .popular__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
}
.travel .travel-card {
  width: calc(50% - 7.5px);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.travel .travel-card .olimpo__flex {
  width: 100%;
  justify-content: space-between;
}
.travel .travel-card__image img {
  display: block;
  width: 100%;
}
.travel .travel-card__detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  width: calc(100% - 160px);
  padding: 20px;
}
.travel .travel-card__detail > div {
  width: 100%;
}
.travel .travel-card__location {
  color: var(--green-1);
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}
.travel .travel-card__date {
  width: 100%;
  text-align: center;
}
.travel .travel-card__fly-time {
  color: var(--gray-3);
  line-height: 28px;
  width: 100%;
  text-align: center;
}
.travel .travel-card__price {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-3);
}
.travel .travel-card__price img {
  width: 20px;
}
.travel .travel-card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.travel .travel-card__cart {
  border: 1px solid var(--green-1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.travel .travel-card__cart i {
  color: var(--green-1);
  font-size: 20px;
}
@media screen and (max-width: 920px) {
  .travel .travel-card {
    width: calc(33.3333333333% - 10px);
    flex-direction: column;
  }
  .travel .travel-card .olimpo__flex {
    flex-direction: column;
    align-items: start;
    margin-bottom: 15px;
  }
  .travel .travel-card__detail {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .travel .travel-card {
    width: calc(50% - 7.5px);
  }
}
@media screen and (max-width: 470px) {
  .travel .travel-card {
    width: 100%;
  }
}

/*# sourceMappingURL=travel.css.map */
